%H1Text {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

%H2Text {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

%H3Text {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

%H4Text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

%Link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #1F1F1F;
}
